 <!-- Call Section -->
    <section class="success" id="call">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Call for submissions</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
		    
<p>We invite <b>Master M2</b> and <b>Ph.D. students</b> from the <b>Université Paris-Saclay</b> and <b>Institut Polytechnique de Paris</b> 
to submit an <b>extended abstract</b> of <b>up to 3 pages</b> describing new or preliminary results of their scientific work.

The accepted submissions will be presented either as a:
</p>
<p>
<ul style="font-size:20px;">
<li> <b>Paper.</b> The author will be given the chance to present the paper in a 15-minutes talk </li>
<li> <b>Poster.</b> The author will be given the chance to present the paper in the poster session and to showcase a demo if desired.  </li>
</ul>
</p>

<p> The type of presentation will be dependent on the organization of the conference and the number of submissions received. 
Master students are especially encouraged to contribute even if the results are only preliminary at the time of submission.
Submissions must be in PDF and must adopt the style of the Springer Publications format for Lecture Notes in Computer Science (LNCS): A sample submission can be found <a href="https://jdse-paris.github.io/JDSEAUT2021/assets/JDSEtemplate.pdf">here</a>. Your submission must be in English, have between 1 and 3 pages, and include an abstract, a list of keywords, and references. You can use either this <a href="https://jdse-paris.github.io/JDSEAUT2021/assets/JDSE_abstract_template.zip">latex template</a> or this  <a href="ftp://ftp.springernature.com/cs-proceeding/llncs/word/splnproc1703.zip">Word template</a>, at your choice. 
We will award a prize to the best oral presentation and the best poster. 
</p>	
	
<h3>Submission</h3>
<p>
All papers must be submitted here : https://easychair.org/conferences/?conf=jdse2021
</p>
	      
<h3> List of topics</h3>
                  
 <p>Topics of interest include, but are not limited to:

                  <ul style="font-size:20px;">
                    <li>Data mining</li>
                    <li>Databases</li>
                    <li>Big Data analytics</li>
                    <li>Machine learning</li>
                    <li>Applied Machine Learning (NLP, Computer Vision, Audio Processing, Bioinformatics...)</li>
                    <li>Statistics</li>
                    <li>Semantic web</li>
                    <li>Applications of data science (biomedical and biological data, physics, chemistry, smart cities, image, documents, audio, video, on-line advertisement, ...)</li></big></big>
                  </ul></p>

                  <p>The extended abstracts will be reviewed by the scientific program committee.
	          All the presentations must be in English. 
	       Electronic versions of the extended abstracts will be accessible on the conference web site. 
               The book of abstracts will not be published and the extended abstracts will not constitute a formal publication.</p>
                  <p><b><u>Note:</u></b> Only Master M2 and Ph.D. students from Université Paris-Saclay and Institut Polytechnique de Paris are invited to contribute.</p>
            </div>
        </div>
    </section>
