 <!-- Dates Section -->
    <section id="dates">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Important Dates</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
		    <p>Contributions submission deadline:<b>August 10, 2021, 23 h 59</b></p> 
              <p>Conference: <b>the 30th of September and the 1rst of October, 2021</b></p>
            </div>
        </div>
    </section>
